.class1{
    /*dfdf*/
    background: blue;
    .nested1{
        /*dfsdfsddfsdfs*/
        margin: 0 auto;
        .nested3{
            /*dsfsdfsdfsafdasfasdfasfsafasdfsadf*/
            background: red;
        }
    }
}